.header {
  background: black;

  &__content {
    box-sizing: border-box;
    padding: 0 15px;
  }
}

.top-actions {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-family: 'EB Garamond', serif;


  &__call--tel {
    color: $primeColor;
    text-decoration: none;
    font-size: 17px;
    position: relative;

    &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 0.5px;
    background-color: $primeColor;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }


  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.social-icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: $primeColor;
      text-decoration: none;
      font-size: 20px;

      &:hover {
        color: white;
        transition: color 0.2s ease-in-out;
      }
    }
  }
}


.line {
  position: relative;
}
.line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid $primeColor;
  background: white;
  opacity: .2;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  &__options {
    display: flex;
    flex-direction: row;

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: $primeColor;
          text-decoration: none;
          font-size: 15px;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 1px;
            background-color: $primeColor;
            transform: scaleX(0);
            transition: transform 0.3s ease;
          }

          &:hover {
            color: #fff;
          }

          &:hover::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}



.logo__box {
  &--img {
    height: 15px;
  }
}

