.page {
  &__section {

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Cormorant Garamond', serif;

    }
    &-title {
      text-transform: uppercase;
      font-size: 30px;
      color: #fff;
      letter-spacing: 3px;
      font-weight: 400;
    }

    &-text {
      color: $primeColor;
    }
  }
}